/vendor/
/storage/logs/*
/storage/cache/*
/storage/sessions/*
/storage/mail-attachments/*
!/storage/mail-attachments/.gitkeep
/storage/*.lock
/config/local/mail.php
/config/local/mail-recipients.php
/config/local/mail_worker.php
/config/local/app.php
/config/local/database.php
/build/
/tmp/
.env
.idea/
.vscode/
Thumbs.db
.DS_Store
